export(ssmrob)
export(heckitrob)
export(heckit5rob)
export(etregrob)
export(heckitrob.control)
export(MmatrM)
export(PsiMest)
export(dLambdadSM)
export(dLambdadSM5)
export(heck2steprobVcov)
export(heck5twosteprobVcov)
export(etreg2steprobVcov)
export(x2weight.covMcd)
export(x2weight.robCov)
import(stats)
importFrom(MASS, rlm, cov.rob, psi.huber)
importFrom(sampleSelection, invMillsRatio)
importFrom(robustbase, glmrob, glmrobMqle.control)
S3method(coef, etregrob)
S3method(coef, heckit5rob)
S3method(coef, heckitrob)
S3method(fitted, heckitrob)
S3method(fitted, heckit5rob)
S3method(fitted, etregrob)
S3method(model.matrix, etregrob)
S3method(model.matrix, heckit5rob)
S3method(model.matrix, heckitrob)
S3method(nobs, etregrob)
S3method(nobs, heckit5rob)
S3method(nobs, heckitrob)
S3method(print, heckitrob)
S3method(print, heckit5rob)
S3method(print, etregrob)
S3method(residuals, heckitrob)
S3method(residuals, heckit5rob)
S3method(residuals, etregrob)
S3method(summary, heckitrob)
S3method(summary, heckit5rob)
S3method(summary, etregrob)
S3method(vcov, heckitrob)
S3method(vcov, heckit5rob)
S3method(vcov, etregrob)
S3method(summary, heckitrob)
S3method(summary, heckit5rob)
S3method(summary, etregrob)
S3method(print, summary.heckitrob)
S3method(print, summary.heckit5rob)
S3method(print, summary.etregrob)