exportPattern("^[[:alpha:]]+")
import(stats)
import(MASS)
import(sampleSelection)
import(robustbase)
S3method(coef, etregrob)
S3method(coef, heckit5rob)
S3method(coef, heckitrob)
S3method(fitted, heckitrob)
S3method(fitted, heckit5rob)
S3method(fitted, etregrob)
S3method(print, heckitrob)
S3method(print, heckit5rob)
S3method(print, etregrob)
S3method(residuals, heckitrob)
S3method(residuals, heckit5rob)
S3method(residuals, etregrob)
S3method(summary, heckitrob)
S3method(summary, heckit5rob)
S3method(summary, etregrob)
S3method(vcov, heckitrob)
S3method(vcov, heckit5rob)
S3method(vcov, etregrob)
S3method(summary, heckitrob)
S3method(summary, heckit5rob)
S3method(summary, etregrob)
S3method(print, summary.heckitrob)
S3method(print, summary.heckit5rob)
S3method(print, summary.etregrob)